<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Add Events</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="login">Login</a>
            <a class="nav-item nav-link" href="register">Registration</a>
            <a class="nav-item nav-link" href="events">Event</a>
            <a class="nav-item nav-link active" href="addEvent">Add Events</a>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
            <a role="button" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<form th:action="@{/addEvent}" method="post" th:object="${eventForm}">
    <input th:field="*{title}" type="text" placeholder="Tytuł">
    <span th:errors="*{title}"></span>
    <input th:field="*{fromDate}" type="date" placeholder="Data od">
    <span th:errors="*{fromDate}"></span>
    <input th:field="*{toDate}" type="date" placeholder="Data do">
    <span th:errors="*{toDate}"></span>
    <textarea th:field="*{description}"  placeholder="Opis"></textarea>
    <span th:errors="*{description}"></span>
    <button>Dodaj</button>
</form>
</body>
</html>