<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Wyniki wyszukiwania</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" th:href="@{/home}">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="/login">Login</a>
            <a class="nav-item nav-link" href="/register">Registration</a>
            <a class="nav-item nav-link active" href="/events">Event</a>
            <a class="nav-item nav-link" href="/addEvent">Add Events</a>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
            <a role="button" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>
<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    th {
        height: 50px;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

<br>
<h4 th:text="${msg}"></h4>

<table>
    <tr>
        <td><h4>Nazwa wydarzenia</h4></td>
        <td><h4>Data od</h4></td>
        <td><h4>Data do</h4></td>
        <td><h4>Opis</h4></td>
        <td><h4>Zapisani użytkownicy</h4></td>
    </tr>
    <tr>
        <!--<tr th:each="events:${currentFuture}">-->

        <td th:text="*{oneEvent.title}"></td>
        <td th:text="*{oneEvent.fromDate}"></td>
        <td th:text="*{oneEvent.toDate}"></td>
        <td th:text="*{oneEvent.description}"></td>
        <td th:each="users:${allUserOnEvents}" th:text="${users.user.email}"></td>
    </tr>
</table>
<br>
<div style="text-align: center" th:if="${userOnEvent==null}">
<form th:action="@{/detailOfEvent/}+${oneEvent.id}+'/eventRegistration'" method="post">
    <input type="submit" value="Zapisz się na wydarzenie">
</form>
</div>
<br>
<div style="text-align: center" th:if="${userOnEvent!=null}">
<form th:action="@{/detailOfEvent/}+${oneEvent.id}+'/leaveEvent'" method="post">
    <input type="submit" value="Opuść wydarzenie">
</form>
</div>
<br>

<form style="text-align: center" th:action="@{/detailOfEvent/}+${oneEvent.id}+'/comment'" method="post">
    <textarea th:name="comment" placeholder="Dodaj komentarz..."></textarea>
    <br>
    <input type="submit" value="Dodaj">
</form>

<br>
<form th:action="@{/detailOfEvent/}+${oneEvent.id}" method="get">
    <table>
        <tr>
            <td><h4>Użytkownik</h4></td>
            <td><h4>Komentarz</h4></td>
            <td><h4>Data Dodania</h4></td>
        </tr>
        <tr th:each="comments:${commentsOfEvent}">
            <td th:text="*{comments.user.email}"></td>
            <td th:text="*{comments.comment}"></td>
            <td th:text="*{#dates.format(comments.addingDate, 'dd/MMM/yyyy HH:mm')}"></td>
        </tr>
    </table>
</form>


</body>
</html>