<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Event</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="login">Login</a>
            <a class="nav-item nav-link" href="register">Registration</a>
            <a class="nav-item nav-link active" href="events">Event</a>
            <a class="nav-item nav-link" href="addEvent">Add Events</a>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
            <a role="button" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    th {
        height: 50px;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

<form method="get" th:action="@{/events}">
            <input type="text" name="query" th:value="${query}" placeholder="Tytuł" th:selected="${query}">
    <!--<input type="date" name="time" th:value="${time}" placeholder="Data">-->
    <select th:name="period">
        <option value="eventsList" th:selected="${period=='eventsList'}">Wszystkie</option>
        <option value="currentFuture"th:selected="${period=='currentFuture'}">Pryszłe i trwające</option>
        <option value="future" th:selected="${period=='future'}">Przyszłe</option>
    </select>
    <button>Szukaj</button>

    <br>

    <table>
        <tr>
            <td><h4>Nazwa wydarzenia</h4></td>
            <td><h4>Data od</h4></td>
            <td><h4>Data do</h4></td>
            <td><h4>Opis</h4></td>
        </tr>
        <tr th:each="events:${eventsList}">
        <!--<tr th:each="events:${currentFuture}">-->
            <td><a th:href="@{/detailOfEvent/}+${events.id}" th:text="*{events.title}"></a></td>
            <td th:text="*{events.fromDate}"></td>
            <td th:text="*{events.toDate}"></td>
            <td th:text="*{events.description}"></td>

        </tr>
    </table>

</form>
</body>
</html>