<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="login">Login</a>
            <a class="nav-item nav-link" href="register">Registration</a>
            <a class="nav-item nav-link" href="events">Event</a>
            <a class="nav-item nav-link" href="addEvent">Add Events</a>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
            <a role="button" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<style>
    table, td, th {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        text-align: center;
    }

    th {
        height: 50px;
    }

    th, td {
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>

<form method="get" th:action="@{/events}">
    <input type="text" name="query" th:value="${query}" placeholder="Tytuł" th:selected="${query}">
    <!--<input type="date" name="time" th:value="${time}" placeholder="Data">-->
    <select th:name="period">
        <option value="eventsList">Wszystkie</option>
        <option value="currentFuture">Pryszłe i trwające</option>
        <option value="future" >Przyszłe</option>
    </select>
    <button>Szukaj</button>

    <br>

    <table>
        <tr>
            <td><h4>Nazwa wydarzenia</h4></td>
            <td><h4>Data od</h4></td>
            <td><h4>Data do</h4></td>
            <td><h4>Opis</h4></td>
        </tr>
        <!--<tr th:each="events:${eventsList}">-->
            <!--&lt;!&ndash;<tr th:each="events:${currentFuture}">&ndash;&gt;-->
            <!--<td th:text="*{events.title}"></td>-->
            <!--<td th:text="*{events.fromDate}"></td>-->
            <!--<td th:text="*{events.toDate}"></td>-->
            <!--<td th:text="*{events.description}"></td>-->
        <!--</tr>-->
    </table>

</form>
</body>
</html>