<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active" href="login">Login</a>
            <a class="nav-item nav-link" href="register">Registration</a>
            <a class="nav-item nav-link" href="events">Event</a>
            <a class="nav-item nav-link" href="addEvent">Add Events</a>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
            <a role="button" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>

</nav>
<h3>Zaloguj się by móc więcej!</h3>
<p th:if="${#request.getParameter('status') == 'err'}">Błędny login lub hasło!</p>
<form th:action="@{/login-process}" method="post">
    <input name="loginEmail" placeholder="Email">
    <input name="loginPassword" placeholder="Hasło">
    <button>Zaloguj</button>
</form>
</body>
</html>