<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="home">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="login">Login</a>
            <a class="nav-item nav-link active" href="register">Registration</a>
            <a class="nav-item nav-link" href="events">Event</a>
            <a class="nav-item nav-link"><p th:text="${@userContextHolder.getUserLoggedIn()}"></p></a>
            <a role="button" class="nav-item nav-link" th:href="@{/logout}">Logout</a>
        </div>
    </div>
</nav>

<form th:action="@{/register}" method="post" th:object="${registrationForm} ">
    <input type="text" th:field="*{email}" placeholder="Email">
    <span th:errors="*{email}"></span>
    <input type="text" th:field="*{password}" placeholder="Hasło">
    <span th:errors="*{password}"></span>
    <input type="text" th:field="*{nickName}" placeholder="Nick">
    <span th:errors="*{nickName}"></span>
    <button>Zarejestruj</button>

</form>


</body>
</html>